body {
    background-color: #0b192e;
    color: #ffffff;
}

.navbar {
    background-color: #1b2c42 !important;
}

.card {
    background-color: #11243a;
    color: #ffffff;
    border: none;
}

.list-group-item {
    background-color: #1b2c42;
    border: none;
    width: 100%;
}

.list-group-item a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.list-group-item:hover {
    background-color: #2a3e5a;
}

.footer {
    background-color: #1b2c42;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.sidebar {
    height: calc(100vh - 56px); /* Высота минус navbar */
    background-color: #11243a;
    padding: 20px;
}

.content-area {
    padding: 20px;
}

.navbar-brand img {
    border-radius: 50%;
    margin-right: 10px;
}

/* Центрирование контента */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar-brand.mx-auto {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}