{% extends "admin/base.html" %}

{% block title %}
    Список учеников
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-light mb-4">Список учеников</h1>

    <!-- Форма поиска -->
    <form method="GET" action="{{ url_for('admin.students') }}" class="mb-4">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.search(class="form-control", placeholder="Поиск по имени, фамилии или классу", value=search_query) }}
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <!-- Сетка карточек -->
    <div class="row">
        {% for student in students %}
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('admin.edit_student', student_id=student.student_id) }}" class="text-decoration-none">
                <div class="card bg-dark text-light h-100">
                    <img src="data:image/png;base64,{{ student.profile_picture }}" class="card-img-top" alt="Фото ученика">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ student.last_name }} {{ student.first_name }} ({{ student.class.class_name }})</h5>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('admin.new_student') }}" class="text-decoration-none">
                <div class="card bg-dark text-light h-100 d-flex align-items-center justify-content-center">
                    <i class="bi bi-plus" style="font-size: 4rem;"></i>
                </div>
            </a>
        </div>
    </div>

    <!-- Экспорт в Excel -->
    <a href="{{ url_for('admin.students_excel', search=search_query or '') }}" class="btn btn-primary mb-4">Скачать в Excel</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock %}